.markdown--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.markdown--editor {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  transition: all 0.5s ease; }
  .markdown--editor .markdown--editor--header {
    height: 30px;
    background-color: #ededed;
    width: 100%;
    padding: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .markdown--editor .markdown--editor--header .fa-arrows-alt {
      font-size: 1.1em;
      margin-right: 10px; }
  .markdown--editor textarea {
    width: 100%;
    margin-bottom: 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    min-height: 300px;
    height: 100%;
    border: 1px solid #ededed; }

.markdown--editor.fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%; }
  .markdown--editor.fullscreen textarea {
    margin-bottom: 0; }

.flex {
  display: flex; }

#preview {
  color: #fff;
  width: 80%;
  margin: 10px;
  max-width: 600px;
  display: none;
  transition: all 0.5s ease; }
  #preview h1,
  #preview h2,
  #preview h3,
  #preview h4,
  #preview h5,
  #preview h6 {
    margin-top: 0; }
  #preview .markdown--preview--header {
    background-color: #ededed;
    height: 30px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    #preview .markdown--preview--header .fa-ellipsis-h {
      margin-left: 10px;
      font-size: 1.2em; }
    #preview .markdown--preview--header .fa-arrows-alt {
      font-size: 1.1em;
      margin-right: 10px; }
      #preview .markdown--preview--header .fa-arrows-alt:hover {
        cursor: pointer; }
  #preview .markdown--preview--content {
    padding: 10px;
    text-align: left;
    background-color: #565555;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    min-height: 280px;
    height: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

#preview.fullscreen {
  height: 100vh;
  width: 100vw;
  max-width: 100%; }

#preview.visible {
  display: block; }

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffb97c; }

.App {
  width: 100%; }
